@font-face {
    font-family: "PPEditorialNew-Regular";
    src: url('assets/PPEditorialNew-Regular.otf');
}

@font-face {
    font-family: "ArialNarrow";
    src: url('assets/ArialNarrow.ttf');
}

@font-face {
    font-family: "ArialNarrowBold";
    src: url('assets/ArialNarrowBold.ttf');
}

*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: solid 1px red; */
}

h1 {
    font-family: "PPEditorialNew-Regular";
    font-weight: 100;
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 10px;
}

h2 {
    font-family:"ArialNarrowBold";
}

p {
    font-family:"ArialNarrow";
    font-weight: 100;
    font-size: 20px;
}

body {
    margin: 0;
    font-family:"ArialNarrow";
}

a.marqueelink, a.marqueelink:visited {
    text-decoration: none;
}

a.marqueelink:hover {
    text-decoration: underline solid 1px white;
}

a.resourceslinks {
    font-weight: 400;
    text-decoration: underline solid 1px blue;
    color: blue;
}

a.resourceslinks:hover {
    color: blue;
    font-style: italic;
}

/* a.marquee:hover {
    text-decoration: underline;
} */

a {
    color: blue;
}

a:hover {
    font-style: italic;
}

.main {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    z-index: 1;
}

.left::-webkit-scrollbar, .right::-webkit-scrollbar {
    display: none;
    width: 0 !important;
}

.left {
    width: 80vw;
    overflow-y: scroll;
    overflow-x: hidden;
    border-right: 2px dashed black;
    margin: 10px;
    padding: 10px;
    align-items: center;
    /* padding-right: 10px; */
}

.intro {
    text-align: center;
    margin: 10px;
}

.logo {
    margin-top: 80px;
    margin-bottom: 40px;
    transform: rotate(40deg);
    transition: transform 1s ease-in-out;
}

.logo:hover {
    transform: rotate(0deg);
}

.title {
    font-size: 150px;
    line-height: 145px;
    margin-bottom: 40px;
}

#controller {
    margin-bottom: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.selector-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 20px;
    border-top: black 5px solid;
}

.selector {
    display: inline-block;
    /* border: black 2px solid; */
}

label {
    font-family:"ArialNarrowBold";
    font-size: 20px;
    margin: 5px;
}

select {
    font-family:"ArialNarrow";
    font-weight: 100;
    font-size: 20px;
    border-radius: 0%;
    border: black 2px solid;
}

.submit {
    font-family:"ArialNarrowBold";
    font-size: 20px;
    background-color: #ccc;
    padding: 3px;
    /* border: black 2px solid; */
    cursor: pointer;
}

a.submit {
    color: black;
    text-decoration: none;
}

a.submit:hover {
    color: blue;
    font-style: normal;
}

#labor {
    display: flex;
    flex-flow: row wrap;
    list-style: square;
    align-items: center;
    justify-content: center;
    /* text-align: left; */
}

.labor-item {
    background-color: white;
    width: 20%;
    height: 200px;
    display: flex;
    overflow: auto;
    /* overflow-wrap: break-word; */
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    /* border: black 2px dashed; */
    /* border-top: 4px solid; */
}

.labor-topic {
    /* border-top-width: thick; */
    font-family: "ArialNarrowBold";
    text-decoration: underline 2px black solid;
    display: flex;
    height: 25%;
    width: 50%;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    z-index: 1;
}

.labor-outcome {
    display: flex;
    overflow: hidden;
    height: 40%;
    font-size: 30px;
    font-family: "ArialNarrowBold";
    font-style: italic;
    /* font-weight: 600; */
    color: red;
    border-radius: 10px;
    border: 3px red dashed;
    text-transform: uppercase;
    transform: rotate(-20deg);
    text-align: center;
    z-index: 2;
}

.labor-outcome:hover {
    color: white;
    border: none;
    cursor: help;
    z-index: 0;
}

.labor-info {
    display: flex;
    height: 25%;
    text-align: center;
    z-index: 1;
}

.right {
    width: 20vw;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    margin: 10px;
}

#about {
    border-bottom: 2px dashed black;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#key {
    border-bottom: 2px dashed black;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.button {
    border-bottom: black 3px solid 100%;
}

.accordion {
    font-family:"ArialNarrowBold";
    background-color: #ccc;
    font-size: 20px;
    cursor: pointer;
    color: black;
    padding: 5px;
    width: 100%;
    text-align: left;
    border: 1px solid black;
    outline: none;
  }
  
  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: blue;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    color: blue;
  }

  .active, .accordion:hover {
    color: blue;
  }
  
  .panel {
    padding: 0 10px;
    display: none;
    overflow: hidden;
    text-align: left;
    border: 1px solid black;
  }

#links {
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    list-style-type: square;
}

#links li {
    margin: 5px 0; 
}

#marquee {
    width: 100vw;
    top: 0;
    position: fixed;
    /* display: flex; */
    z-index: 999;
}

.scroll-left a:link, .scroll-left a:visited {
    color: white;
    text-decoration: underline 1px white solid;
}

.scroll-left {
    height: 30px; 
    overflow: hidden;
    position: sticky;
    background-color: blue;
}

 .scroll-left .second {margin-left: 100%;}
    .scroll-left p {
    color: #fff;
    font-family:"ArialNarrowBold";
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    animation: scroll-left 15s linear infinite;
}
    @keyframes scroll-left {
    0% { 
    transform: translateX(0%); 
    }
    100% { 
    transform: translateX(-100%); 
    }
}

@media screen and (max-width: 600px) {
    .main {
        display: flex;
        overflow: auto;
        flex: column nowrap;
        align-items: center;
    }
    .right {
        display: flex;
        flex: column nowrap;
        width: 100vw;
    }
    .left {
        display: flex;
        flex: column nowrap;
        width: 100vw;
    }
    .selector-container {
        display: flex;
        flex: column nowrap;
    }
    #labor {
        display: flex;
        flex: column nowrap;
    }

    .labor-item {
       width: 50%;
    }
}